* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 15px;
}

canvas {
    cursor: none;
}

button {
    width: 100px;
    height: 25px;
}

button#control-play-state {
    margin-right: 30px;
}

button#random-fill {
    float: right;
    margin-right: 4px;
}

button#show-grid {
    width: 50px;
    margin-left: 30px;
}

input[type='range'] {
    width: 260px;
    vertical-align: -6px;
}